<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>嘉维蓝鲸开发框架</title>
    <link rel="icon" href="${STATIC_URL}assets/favicon.ico" type="image/x-icon">
    <link href=${STATIC_URL}assets/css/app.css rel=stylesheet>
</head>
<script>
    window.siteUrl = '${SITE_URL}'
    window.runMode = '${RUN_MODE}'
    window.userName = '${request.user.username}'
    // app_id
    window.appId = '${APP_ID}'
    // 蓝鲸登录url
    window.loginUrl = '${LOGIN_URL}'
    window.isAdmin = '1'
</script>
<body>
<div id=app></div>
<script type=text/javascript src=${STATIC_URL}assets/js/manifest.js></script>
<script type=text/javascript src=${STATIC_URL}assets/js/vendor.js></script>
<script type=text/javascript src=${STATIC_URL}assets/js/app.js></script>
</body>
</html>