$color-primary: #0078ff !default;
$color-success: #4BD863 !default;
$color-warning: #FE9400 !default;
$color-danger: #ff1432 !default;
$color-info: #909399 !default;

$color-white:#FFF !default;
$color-gray-100:#F8F9FA !default;
$color-gray-200:#E9ECEF !default;
$color-gray-300:#DEE2E6 !default;
$color-gray-400:#CED4DA !default;
$color-gray-500:#ADB5BD !default;
$color-gray-600:#868E96 !default;
$color-gray-700:#495057 !default;
$color-gray-800:#343A40 !default;
$color-gray-900:#212529 !default;
$color-black:#000 !default;

$color-menu-background: rgb(28, 31, 37) !default;
$color-menu-border: rgb(74, 155, 255) !default;
$color-menu-border-02: rgb(42, 47, 55) !default;
$color-menu-font: rgb(199, 207, 212) !default;

$font-weight: 600 !default;
$border-radius:3 !default;
$box-shadow: 9px 7px 11px rgba(129, 125, 125, 0.349) !default;
$box-shadow-02: 0px 16px 16px rgba(129, 125, 125, 0.749) !default;
$font-family: 'Avenir', Helvetica, Arial, sans-serif;
$font-size-01: 12px !default;
$font-size-02: 14px !default;
$font-size-03: 16px !default;
$font-size-04: 18px !default;